:root {
    --main-color: #f1f3fd;
    --dark-color:#aabec3;
    --light-color:#e0e9eb;
    --border-color: #676363;
    --shadow-color: #6e69693b;
    --text-color: #220552;
    --man-color: #cae5fb;
    --woman-color: #f8d4fa;
  }